<div class="select-genre">
    <div class="left">
      <h1>Chime In</h1>
      We're going to fine-tune the passage you submitted. In order to find the ideal music to your ears, please select a music genre. We don't want to strike a false note, so it's your turn to call the tune.
    </div>
    <%= form_tag( "/songs/search_song", method: :get, class: "dropdown") do %>
      <%= select_tag(:genre, options_for_select(@genre_options)) %>
      <%= submit_tag "Select", name: nil, class: 'btn' %>
    <% end %>
</div>
