<div class="results">
  <div class="left">
    <h1>Here's the song we chose for you</h1>
    We hope you enjoy it.
  </div>
  <div class="player">
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="500" height="400" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <%= content_tag :div, class: "emotion", data: {emotion_data: @emotion_data, strongest_emotion: @strongest_emotion} do %>
  <% end %>
  <BR>

  <center>
    <%= link_to 'Back to Home', passages_path %>
  </center>
</div>
